<%= partial "header" %>

<div class="main">

  <h1><%= current_page.data.title %></h1>
  <%= tag :img, :src => current_page.data.avatar, :class => "small_avatar" %>
  <h2><%= current_page.data.author %></h2>
  <h3>on <%= current_page.data.date %></h3>

  <%= yield %>
  <%= partial "buttons" %>
</div>

<%= partial "right_pane" %>

<%= partial "footer" %>
