<head>
	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine or request Chrome Frame -->
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

	<!-- Use title if it's in the page YAML frontmatter -->
	<title><%= current_page.data.title || "The Middleman" %></title>

	<!-- Uncomment the following if you want to use normalize -->
	<!-- <%= stylesheet_link_tag "normalize" %> -->

	<%= stylesheet_link_tag "all" %>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="stylesheets/all.css">
	<!-- <link rel="stylesheet" type="text/css" href="normalize.css>" -->
	<title>Surf 'n paddle</title>
</head>

<body>
	<div class="container">
		<div class="head">
			<div class="blog"><img src="images/wave.png"> SURF &amp; PADDLE CO. BLOG<div class="search"> ABOUT SEARCH <img src="images/glass.png"></div>
		</div>
		<p class="htext">SURF &amp; PADDLE CO.
			<div class="iy"> An Ironyard Academy Project Est. Spring 2014 </div></p>
		</div>
	</div>
<div class="ltext">
	<div class="headline"> SOME INFORMATION FROM WIKIPEDIA</div>
	<!-- <img class="mepic2" src="images/pic2.png"> -->
	<div class="n"><%= current_page.data.author %>. </div>
	<div class="dy">on <%= current_page.data.date %></span></div>
	<%= current_page.data.post %>
	<p>	Lorem ipsum dolor sit amet,
		consectetur adipiscing elit.
		Fusce luctus auctor fringilla.
		Etiam quis cursus lectus. Nulla facilisi.
		In pulvinar odio erat, vitae hendrerit ante condimentum vel.
		Maecenas tincidunt mattis porttitor. Morbi mattis,
		tellus vitae faucibus sagittis,
		nulla ex cursus odio.
	</p>
	<p>	a lobortis ligula nibh non ipsum.
		Sed mauris lacus, dictum at diam at,
		mollis fringilla enim.
		Proin sit amet est in tortor bibendum suscipit et ut mi.
		Fusce ac <a class="google" href="www.google.com">commodo orci.<a>
		</p>
		<div class="whoa"><p> RANDOM QUOTE HERE!</p> </div><p>
			Morbi at ornare urna. Ut velit nulla,
			fringilla sed arcu at, aliquet mattis diam.
			Suspendisse id erat id orci convallis consectetur a id dui.
			Nulla eleifend lectus sapien, <a href="www.google.com">non vulputate (rollover)<a> est interdum sed.
				Proin egestas a est a lobortis.
				Proin tincidunt sed eros a semper.
				Curabitur suscipit at velit in dignissim.
				Mauris commodo elit arcu, sed lacinia leo placerat et.
				In rhoncus ac turpis at maximus.
				Donec id hendrerit nunc, et congue lorem.
				Nulla lacus neque, hendrerit eget lorem rhoncus,
				aliquet hendrerit odio. Aliquam suscipit dignissim ipsum at tincidunt.</p>
				Aliquam erat volutpat. Pellentesque tempor lorem mauris.
				Integer id fringilla libero, ac euismod mauris.
				Nulla eleifend lectus sapien, non vulputate est interdum sed.
				Proin ege.	Proin ege.	Proin ege. Proin.
			</p>
			<div class="table"><img src="images/linknames.png">
			</div>
		</div>
		<div class="rtext">
			<div class="picinfo">
				<div class="mepic"> <%= data.authors.picture %>
				</div>
				<div class="name"> <%= current_page.data.author.upcase %>
				</div>
			</div>
			<div>
				<div>
					<img class="image" src="images/<%= current_page.data.picture %>">
				</div>
				<a class="link"> ANOTHER PICTURE!
				</a>
			</div>
			<div class="shead"> A NICE QUOTE
			</div>
			<div class="sidebar"> "<%= current_page.data.quote %>"
				</div>
			</div>
		</div>
</body>
