<!DOCTYPE html>
<html>
<%= partial "/layouts/partials/head" %>
<%= stylesheet_link_tag "normalize" %>
<%= stylesheet_link_tag "all" %>

  <body class="page_classes">
    <%= partial "/layouts/partials/header" %>
  <div class="<%= page_classes %>">
    <%= current_page.data.title %>
    <%= current_page.data.author %>

    <%= current_page.data.text %>
  </div>
    <div class="container">
      <div class="left">
        <h5><%= data.authors.name %></h5>
        <div class="credits">
          <ul>
            <li><div class="avatar1"></div></li>
            <li><%=current_page.data.name%></li>
            <li>on <span><%= current_page.data.date%></span></li>
          </ul>
        </div>
        <div class="text">
          <p> <%=yield%> </p>
        </div>
      </div>
    </div>


    <div class="right">
      <div class="sidebar">
        <div class="avatar2"></div>
        <div class="name"><%=current_page.data.name%></div>
        <div class="social-links">
          <ul>
            <li>Twitter</li>
            <li>Facebook</li>
            <li>Instagram</li>
          </ul>
        </div>
        <div class="ad-image1"></div>
        <h4>contributions</h4>
        <p>If you would like to make suggestions about authors and/or articles worthy of inclusion, please forward them.  We are always on the lookout for great contributions to our repository.</p>
      </div>
    </div>




  </body>
</html>
