<!-- <!DOCTYPE html>
<html>

<%= partial "/layouts/partials/head" %>
<%= partial "/layouts/partials/header" %>

<div class="container">
  <section class="left">
    <h3><%= authors.yaml.name %></h3>

    <div class="credits">
      <ul>
        <li><div class="avatar1"></div></li>
        <li>Anne Marie</li>
        <li>on <span>Monday Oct. 7th 9:22pm</span></li>
      </ul>
    </div>
    <div class="text">
      <p><%=yield%>
      </p>
    <!-- comment icon fa-comment-o [&#xf0e5;] -->
    <!-- cloud upload icon  fa-cloud-upload [&#xf0ee;] -->
    <!-- search icon  fa-search [&#xf002;] -->
  <!-- </section>
  <section class="right">
    <div class="avatar2"></div>
    <div class="name">Annie Dolphin</div>
    <div class="social-links">
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </div>
    <div class="ad-image1"></div>
    <h4>SIDEBAR SECTION HEADING</h4>
  </section>
</div> -->

<!-- <h1>List</h1>
<ol>
  <% current_page.data.my_list.each do |f| %>
  <li><%= f %></li>
  <% end %>
</ol> -->

<!-- <%= partial "/layouts/partials/footer" %>
</html> --> -->
