<!--
Create 3 new pages in Markdown (that is, with .html.md extensions) that use front-matter to populate the title, date, and author. These should use the new layout. Each page should have a different author.

Set the author to a unique key (like Turing) and pull their name, social links, and image from data/authors.yml. (You will need to download an image for each author and add that to their data in authors.yml.)

Change your index.html.erb page to show all three of your other posts in descending order by date. Show:
- The title which should be a link to the post
- The author and date information
- Either the first paragraph of the text or a truncated number of words
- The buttons at the bottom of each post

On your new index.html.erb, the sidebar author information should not show up, as you should have three different authors with posts on the page.

Remember to use helpers to make your life easier and your templates nicer!
-->

<!--MOVE AUTHOR INFO (picture, social links) TO SIDEBAR-->

<!DOCTYPE html>

<html>
  <head>
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag %>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>

<body class="<%= page_classes %>">
  <div class="header">
      <div class="container">
        <span class="top_left">
          <img src="/images/WaveLogo.png">
        </span>
          <span class="top_left_blog">SURF &amp; PADDLE CO. BLOG</span>
        </span>
        <div class="top_right">
          <span class="about">ABOUT</span> <span class="search">SEARCH &nbsp;<i class="fa fa-search"></i></span>
        </div>
        <div class="title_text">
          <h1>SURF &amp; PADDLE CO.</h1>
        </div>
        <div class="below_title_text">An Iron Yard Academy Project Est. Summer 2014</div>
        </div>
  </div>

  <section class="wrapper">

    <!--THIS IS WHERE THE POSTS GO-->
    <article class="left">
       <%= current_page.data.author %>
       <%= current_page.data.date %>
       <%= current_page.data.text %>
       <!--<%= yield %#>-->

      <div class="left_headline">



        <!--need to figure out syntax (create a variable?) so that I can pull the proper data for a given author from the authors yaml file...for SOCIAL LINKS and for AUTHOR PHOTO-->



        <h1><!--title (pulled from front-matter)-->
          <% current_page.data.title do |f| %>
          <%= f %>
          <% end %>
        </h1>
      </div>

      <table>
        <tr>
          <td><span class="byline">
          <!--Image of author (pulled from yaml)-->
          <% data.authors.easley/turing/lovelace.photo do |f| %>
         <%= f %>
         <% end %>
          </span>
          </td>

          <td><span class="author_left_name">
          <!--Author Name (pulled from front-matter; this info in front-matter is in turn being pulled from yaml)-->
          <% current_page.data.author do |f| %>
         <%= f %>
         <% end %>
          </span>

          <!--date of post (pulled from front-matter)-->
           on <% current_page.data.date do |f| %>
          <%= f %>
          <% end %>
          </td>
        </tr>

        <tr>
          <td>
          <!--social links (pulled from yaml)-->
          <% data.authors.easley/turing/lovelace.links.each do |f| %>
          <%= f %>
          <% end %>
          </td>
        </tr>
      </table>


      <!--comments, read later, and share this post buttons-->
      <table>
        <tr>
          <td>
            <a href="http://www.dogpile.com/" class="comments_button" target="_blank"><i class="fa fa-comment"></i>&nbsp; Read Comments</a>
          </td>
          <td>
            <a href="http://www.winamp.com/" class="read_later_button" target="_blank"><i class="fa fa-cloud-upload"></i>&nbsp; Read Later</a>
          </td>
          <td>
            <a href="http://archiveteam.org/index.php?title=GeoCities" class="share_button" target="_blank"><i class="fa fa-share-square-o"></i>&nbsp; Share This Post</a>
          </td>
        </tr>
      </table>
    </article>

    <aside class="right">
      <div class="picture_right">
      </div>
      <div class="picture_right_link">
        <a href="http://www.simcity.com/en_US/product/simcity2000" target="_blank">About this Ad</a>
      </div>
    <br>
    <br>
      <div class="sidebar_heading">SIDEBAR SECTION HEADING</div>
      <p class="right_paragraph">
Pour-over. Wes Anderson keffiyeh ethical, street art Kickstarter four loko disrupt cray XOXO mlkshk you probably haven't heard of them. Artisan aesthetic hoodie keffiyeh pickled Marfa +1 street art Tumblr Truffaut fixie Neutra messenger bag.
      </p>
    </aside>
  </section>

  <section class="footer">
    <div class="most_popular">MOST POPULAR POSTS</div>
    <div class="bottom_pics">
    </div>
    <!--blue bottom nav bar-->
    <div class="bottom">
      <div class="bottom_text">
      <span class="bottom_left">The Iron Yard Copyright 2014, All Rights Reserved
      </span>
      <span class="bottom_right">
        Nav Item 1 | Nav Item 2 | Nav Item 3 | Nav Item 5
      </span>
    </div>
  </section>
</body>
</html>
