<!--
Create 3 new pages in Markdown (that is, with .html.md extensions) that use front-matter to populate the title, date, and author. These should use the new layout. Each page should have a different author.

Set the author to a unique key (like Turing) and pull their name, social links, and image from data/authors.yml. (You will need to download an image for each author and add that to their data in authors.yml.)

Remember to use helpers to make your life easier and your templates nicer!
-->

<!DOCTYPE html>

<html>
  <head>
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "all" %>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>

<body>
  <div class="header">
      <div class="container">
        <span class="top_left">
          <img src="/images/WaveLogo.png">
        </span>
          <span class="top_left_blog">SURF &amp; PADDLE CO. BLOG</span>
        </span>
        <div class="top_right">
          <span class="about">ABOUT</span> <span class="search">SEARCH &nbsp;<i class="fa fa-search"></i></span>
        </div>
        <div class="title_text">
          <h1>SURF &amp; PADDLE CO.</h1>
        </div>
        <div class="below_title_text">An Iron Yard Academy Project Est. Summer 2014</div>
        </div>
  </div>

  <section class="wrapper">

    <!--THIS IS WHERE THE POSTS GO-->
    <article class="left">
      <div class="left_headline">
        <h1><!--title (pulled from md front-matter)--> <!--does not display-->
          <% current_page.data.title do |a| %>
          <%= a %>
          <% end %>
        </h1>
      </div>
      <br>
      <table>
        <tr>
          <td><span class="author_left_name">
            By <!--Author Name (pulled from md front-matter)--> <!--does not display-->
            <% current_page.data.author do |b| %>
            <%= b %>
            <% end %>
          </span>

          <!--date of post (pulled from md front-matter)--> <!--does not display-->
           on <% current_page.data.date do |c| %>
           <%= c %>
           <% end %>
          </td>
        </tr>
      </table>
      <div class="left_paragraphs"
        <!--the text of the post-->
        <% current_page do |d| %>
        <%= d %>
        <% end %>
      </div>


      <!--comments, read later, and share this post buttons-->
      <table>
        <tr>
          <td>
            <a href="http://www.dogpile.com/" class="comments_button" target="_blank"><i class="fa fa-comment"></i>&nbsp; Read Comments</a>
          </td>
          <td>
            <a href="http://www.winamp.com/" class="read_later_button" target="_blank"><i class="fa fa-cloud-upload"></i>&nbsp; Read Later</a>
          </td>
          <td>
            <a href="http://archiveteam.org/index.php?title=GeoCities" class="share_button" target="_blank"><i class="fa fa-share-square-o"></i>&nbsp; Share This Post</a>
          </td>
        </tr>
      </table>
    </article>


<!--attempt to create a variable so that I can pull the proper data for a given author from the authors yaml file...for SOCIAL LINKS and for AUTHOR PHOTO-->
      <%= currentauthor = current_page.data.author %>
      <!--when I tried to plug in the currentauthor variable, neither thing worked-->


    <aside class="right">
      <span class="author_picture_right">
        <!--Image of author (pulled from authors yaml)--> <!--does not display-->
        <% data.authors.easley.photo do |e| %>
        <%= e %>
        <% end %>
      </span>
      <br>

      <span class="author_right_name">
        <!--Author Name (pulled from md front-matter)--> <!--displays properly-->
        <% current_page.data.author do |b| %>
        <%= b %>
        <% end %>
      </span>

      <div class="social_right">
        <!--social links (pulled from authors yaml)-->
        <!--need to find a way to pull the info out of the hash into links; right now it just prints the hash-->
        <% data.authors.easley.links.each do |f| %>
        <%= f %>
        <% end %>
      </div>

      <div class="picture_right">
      </div>
      <div class="picture_right_link">
        <a href="http://www.simcity.com/en_US/product/simcity2000" target="_blank">About this Ad</a>
      </div>
    <br>
    <br>
      <div class="sidebar_heading">SIDEBAR SECTION HEADING</div>
      <p class="right_paragraph">
Pour-over. Wes Anderson keffiyeh ethical, street art Kickstarter four loko disrupt cray XOXO mlkshk you probably haven't heard of them. Artisan aesthetic hoodie keffiyeh pickled Marfa +1 street art Tumblr Truffaut fixie Neutra messenger bag.
      </p>
    </aside>
  </section>

  <section class="footer">
    <div class="most_popular">MOST POPULAR POSTS</div>
    <div class="bottom_pics">
    </div>
    <!--blue bottom nav bar-->
    <div class="bottom">
      <div class="bottom_text">
      <span class="bottom_left">The Iron Yard Copyright 2014, All Rights Reserved
      </span>
      <span class="bottom_right">
        Nav Item 1 | Nav Item 2 | Nav Item 3 | Nav Item 5
      </span>
    </div>
  </section>
</body>
</html>
