<div class="sidebar">

  <div class="profile">
    <img lass="photo" src=<%= yield_content :photo %>>
    <h3 class="name"><%= yield_content :name %></h3>
    <p class="peripheral-text"><a href=<%= yield_content :twitter %>>TWITTER</a> | <a href=<%= yield_content :facebook %>>FACEBOOK</a> | <a href=<%= yield_content :wiki %>>WIKIPEDIA</a> |</p>
  </div>
  <div class="advertisment">
  </div>
  <div class="ad-about peripheral-text">
    <a>About this Ad</a>
  </div>
  <div class="sidebar-section peripheral-text">
    <h3>SIDEBAR SECTION HEADING</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
  </div>
</div>
