---
layout: "layout"
title: Surf & Paddle
---

<!-- insert content here -->
<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div>

<div class="lbody">

    <div class="bodytop">ANNIE KNOWS WHAT GOING ON WITH COMPUTERS
    </div>
        <div class="smalld">
          <img class="smalld1" src="../images/smallannie.jpg"/>
             <span class="bluename2"><%= link_to 'Annie Easley', 'easley.html' %></span>
             November 23, 3045
        <div class="t1"><%= lorem.sentences 5 %>
        </div>
      <div class="readmore"><%= link_to 'Read More', 'easley.html' %><div>
      </div>
      <div class="bodytop">ADA LOVELACE IS A TRAILBLAZER
      </div>
          <div class="smalld">
            <img class="smalld1" src="../images/smallada.jpg"/>
               <span class="bluename2"><%= link_to 'Ada Lovelace', 'lovelace.html' %></span>
               September 31, 3045
          <div class="t1"><%= lorem.sentences 5 %>
          </div>
        <div class="readmore"><%= link_to 'Read More', 'lovelace.html' %><div>
        </div>
        <div class="bodytop">ALAN TURING MAN OF THE YEAR
        </div>
            <div class="smalld">
              <img class="smalld1" src="../images/smallalan.jpg"/>
                 <span class="bluename2"><%= link_to 'Alan Turing', 'turing.html' %></span>
                 September 19, 3045
            <div class="t1"><%= lorem.sentences 5 %>
            </div>
          <div class="readmore"><%= link_to 'Read More', 'turing.html' %><div>
          </div>
    </div>
  </div>
</div>


    <!-- <div><%= link_to 'Annie\'s blog', 'easley.html' %></div>
    <div><%= link_to 'Alan\'s blog', 'turing.html' %></div>
    <div><%= link_to 'Ada\'s blog', 'lovelace.html' %></div> -->

  </body>
</html>
