---
title: Surf & Paddle
---

<% posts_sorted = data.posts.sort_by { |author, info| info[:date] } %>
<% posts_sorted.each do |key, value| %>

  <h1><%= link_to value.title, "articles/" + key + ".html", :class => "title_link" %></h1>
  <%= tag :img, :src => data.authors[key][:image], :class => "small_avatar" %>
  <h2><%= data.authors[key][:name] %></h2>
  <h3>on <%= value.date %></h3>
  <p><%= value.blurb %></p>
  <%= partial "buttons" %>

<% end %>
