
      
<div class="post-column">
  <h2><%= lorem.sentence.upcase %></h2>
  <div class="post-info">
    <div class="picture"></div>
    <div class="name-date">YOUR NAME on <%= lorem.date("%A %B %d at %I:%M %p") %></div>
  </div>
    <div class="post">
      <p><%= lorem.paragraphs 2 %></p>
      <p><%= lorem.paragraphs 1 %></p>
      <p><%= lorem.paragraphs 3 %></p>
    </div>
    <%= partial "buttons" %>
</div>
<div class="sidebar">
  <div class="contact">
    <div class="picture"></div>
      <h4>ANNIE DOLPHIN</h4>
      <ul =class="social-media">
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </div>
    
   
