
      
<div class="post-column">
  <h2><%= lorem.sentence.upcase %></h2>
  <div class="post-info">
    <div class="picture"></div>
    <div class="name-date">YOUR NAME on <%= lorem.date("%A %B %d at %I:%M %p") %></div>
  </div>
    <div class="post">
      <p><%= lorem.paragraphs 2 %></p>
      <p><%= lorem.paragraphs 1 %></p>
      <p><%= lorem.paragraphs 3 %></p>
    </div>
    <%= partial "buttons" %>
</div>

    
   
